* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
/* 400 */
@font-face {
  font-family: robotoCustom;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

/* 700 */
@font-face {
  font-family: robotoCustom;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

body {
  background-color: hsl(235, 18%, 26%);
  font-family: robotoCustom, sans-serif;
  line-height: 1;
  font-size: 1rem;
  font-weight: 400;
}

.container {
  width: 65%;
  height: fit-content;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1.5rem;
  border-radius: 2rem;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.14);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
  padding: 0 4rem;
  width: 70%;
  height: 100%;
}

.img-section {
  margin-left: 2rem;
  height: fit-content;
}

/* .img-section img {
  max-width: 100%;
  display: block;
} */

h1 {
  font-weight: 700;
  font-size: 4rem;
}

.list {
  list-style-image: url('../images/icon-list.svg');
  padding-left: 1.5rem;
}

.list-item {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

/* Form Styling */

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.signup-form label {
  font-size: 1.2em;
  font-weight: bold;
}

.signup-form input {
  padding: 0.8rem 1.2rem;
  border-radius: 0.7rem;
  font-size: 1.2rem;
}

.signup-form button {
  cursor: pointer;
  padding: 1.2rem;
  border-radius: 0.7rem;
  color: white;
  font-weight: 700;
  background-color: hsl(235, 18%, 26%);
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
