* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.card-container {
  display: flex;
  justify-content: cneter;
  align-items: start;
  flex-direction: column;
  gap: 3rem;
}
